body {
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url("vacance.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.cta-buttom {
    background-color: #ffa07a;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#destinations {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

#destinations h2 {
    font-size: 2.5em;
    color: #2f4f4f;
    margin-bottom: 20px;
}

.destination {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination h3 {
    font-size: 1.8em;
    color: #4682b4;
}

.destination p {
    font-size: 1.2em;
    color: #696969;
}
